{% extends "groups_manager/group_member_role.html" %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <span class="divider">&raquo;</span>
        {% if group_member_role %}
            <a href="{% url 'groups_manager:group_member_role_edit' group_member_role.id %}">Edit</a>
        {% else %}
            <a href="{% url 'groups_manager:group_member_role_add' %}">Add</a>
        {% endif %}
    </li>
{% endblock breadcrumbs %}


{% block content %}

<h2 class="page-title">
    <i class="fa fa-groups-manager-group-member-role"></i>
    {% if group_member_role %}
        Edit "{{ group_member_role }}"
    {% else %}
        Create Group Member Role
    {% endif %}
</h2>


<form action="." method="post" id="group_member_role_form" class="django form-horizontal">
{% csrf_token %}

{% include "django_helper_forms/forms/form_template.html" %}

{% include "django_helper_forms/forms/form_template_bottom.html" %}

</form>
        
{% endblock content %}