{% extends "groups_manager/group_entity.html" %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <span class="divider">&raquo;</span>
        {% if group_entity %}
            <a href="{% url 'groups_manager:group_entity_edit' group_entity.id %}">Edit</a>
        {% else %}
            <a href="{% url 'groups_manager:group_entity_add' %}">Add</a>
        {% endif %}
    </li>
{% endblock breadcrumbs %}


{% block content %}

<h2 class="page-title">
    <i class="fa fa-groups-manager-group-entity"></i>
    {% if group_entity %}
        Edit "{{ group_entity }}"
    {% else %}
        Create Group Entity
    {% endif %}
</h2>


<form action="." method="post" id="group_entity_form" class="django form-horizontal">
{% csrf_token %}

{% include "django_helper_forms/forms/form_template.html" %}

{% include "django_helper_forms/forms/form_template_bottom.html" %}

</form>
        
{% endblock content %}