{% extends "groups_manager/member.html" %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <span class="divider">&raquo;</span>
        <a href="{% url 'groups_manager:member_delete' member.id %}">Delete</a>
    </li>
{% endblock breadcrumbs %}


{% block content %}

<h2 class="page-title">
    <i class="fa fa-groups-manager-member"></i> Delete member
</h2>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="bs-callout bs-callout-danger">
                <h3>{{ member }}</h3>
                <p>Are you sure you want to delete this member?</p>
                <p>All relations that involve this member will be deleted too.</p>
                <div class="align-center">
                    <form action="{% url 'groups_manager:member_delete' member.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete" />
                        <a href="{% url 'groups_manager:member_detail' member.id %}" class="btn">Back to details</a>
                    </form>
                    
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock content %}